body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgba(0, 145, 255, 0.121); */
    color:black;
    text-align: center;
}

i{
    padding-right: 10px;
}

main{
    padding-top: 50px;
}

.navbar-brand{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
}

.carousel-item {
    padding-top: 0;
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}

.carousel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h5{
    font-size: 70px;
    font-weight: 700px;
}

.carousel-caption p{
    font-size: 25px;
    top: 2rem;
}

.slider-btn{
    margin-top: 30px;
}

.slider-btn .btn{
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    margin-right: 15px;
}

.slider-btn .btn-2{
    color: #000;
    background-color: gold;
}

.parrafo{
    font-style: italic;
    font-size: large;
    padding: 50px;
}



