body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgba(0, 145, 255, 0.121); */
    color:black;
    text-align: center;
}

i{
    padding-right: 10px;
}

main{
    padding-top: 50px;
}

.navbar-brand{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
}

.carousel-item {
    padding-top: 0;
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}

.carousel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h5{
    font-size: 70px;
    font-weight: 700px;
}

.carousel-caption p{
    font-size: 25px;
    top: 2rem;
}

.slider-btn{
    margin-top: 30px;
}

.slider-btn .btn{
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    margin-right: 15px;
}

.slider-btn .btn-2{
    color: #000;
    background-color: gold;
}

.parrafo{
    font-style: italic;
    font-size: large;
    padding: 50px;
}

.card-register {
    overflow-y: scroll;
}

.card-register {
	width: 500px;
	height: 500px;
	margin: 50px auto;
	padding: 20px;
	background: #fff;
	overflow: auto;
	/* font-family: 'Open Sans'; */
	border-radius: 2px;
    /* bottom: 20px; height:400px; overflow-y: scroll; */
    right: 0;
    background: rgba(11, 11, 11, 0.52);
    opacity: 0,35;
    box-shadow:
         inset 0 -3em 3em rgba(0, 0, 0, 0.1),
               0 0 0 8px #c2c4df,
               0.3em 0.3em 1em rgba(7, 53, 238, 0.981);
               color: rgb(5, 5, 30)
}

.card-login {
    width: 1000px;
	height: 500px;
	margin: 50px auto;
	padding: 40px;
	background: #fff;
	border-radius: 2px;
}